/* line 8, base.scss */
body {
  text-shadow: 0 1px 1px #aaaaaa;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #62B199;
  background: url("/images/bg.jpg") no-repeat fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

/* line 18, base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #024c68;
  font-family: Palatino, Times, sans-serif;
  display: block; }

/* line 24, base.scss */
h1 {
  border-bottom: 1px dashed #024c68;
  font-size: 3em; }

/* line 29, base.scss */
p, ul, ol {
  font-size: 0.9em;
  line-height: 1.6em; }

/* line 34, base.scss */
a {
  font-family: Palatino, Times, sans-serif;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

/* line 40, base.scss */
a, a:visited {
  display: inline-block;
  color: #806440;
  text-decoration: none; }

/* line 46, base.scss */
a:hover {
  color: #406480;
  background-color: rgba(255, 255, 255, 0.3); }

/* line 51, base.scss */
a:active {
  color: #888;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px); }

/* line 56, base.scss */
#header, #main, aside, #footer {
  width: 700px;
  margin: 0 auto; }

/* line 61, base.scss */
#main {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px #555555;
  -moz-box-shadow: 0 1px 3px #555555;
  box-shadow: 0 1px 3px #555555;
  border: #eeeeee 1px solid;
  padding: 1em 50px 3em 50px;
  background-color: rgba(255, 255, 255, 0.3); }
  /* line 67, base.scss */
  #main h2 {
    text-decoration: underline; }

/* line 73, base.scss */
#header h1 {
  font-size: 20px;
  color: #eee;
  text-shadow: 0 1px 2px #333333;
  border: none; }
  /* line 77, base.scss */
  #header h1 a {
    color: #ccc; }
    /* line 79, base.scss */
    #header h1 a:hover {
      color: #fff; }
/* line 85, base.scss */
#header p {
  line-height: 0.8em;
  text-shadow: 0 1px 0 #bbbbbb; }

/* line 91, base.scss */
aside {
  text-align: center; }

/* line 95, base.scss */
.widget {
  text-align: left;
  -webkit-box-shadow: 0 1px 3px #555555;
  -moz-box-shadow: 0 1px 3px #555555;
  box-shadow: 0 1px 3px #555555;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 20px 2em 20px;
  border: #dddddd 1px solid;
  border-top: none; }
  /* line 106, base.scss */
  .widget ol, .widget ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 112, base.scss */
  .widget li {
    display: block;
    padding: 0;
    margin: 0; }
    /* line 116, base.scss */
    .widget li a {
      padding: 0 5px;
      display: block; }

/* line 123, base.scss */
.article-date {
  font-size: 20px; }

/* line 126, base.scss */
.read-more {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-style: italic;
  font-weight: bold; }
  /* line 131, base.scss */
  .read-more a {
    display: block; }

/* line 135, base.scss */
#footer {
  text-align: center;
  margin-bottom: 5em; }
